html, body {
    background-color: #fff;
    color: #2c2f31;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-left {
    display: flex;
    justify-content: left;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.m-b-md {
    margin-bottom: 30px;
}
.element
{
    padding:10px 0px;
    margin-left:0px;
}
input[type=”text”]
{
    width:250px;
    height:30px;
    border-radius:4px;
    border:1px solid #999999;
    font-size:18px;
    padding:10px;
    color:#999999;
}

/*#label*/
/*{*/
    /*padding:10px 60px 10px 10px;*/
    /*color:#999999;*/
    /*font-weight:bold;*/
    /*display:inline-block;*/
    /*width:100px;*/
/*}*/

.button {
    background-color: #c7c1c1;
    border-radius:4px;
    border: none;
    color: white;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.city {
    font-weight: bold;
    font-size: 25px;
    text-decoration: underline;
}

.row {
    justify-content: center;
}

.column {
    display:inline-block;
}

.key {
    font-weight: bold;
    font-size: 15px;
}

.info {
    color: rgba(41, 39, 39, 0.56);
    font-weight: 600;
}

#err {
    color: red;
    font-weight: bold;
}